<h5><a href='/'>Home </a> / Login</h5>
<h4>Login</h4>
<div align="center">
<h4>Welcome to Login Page of Author Membership</h4>
<h5>Please enter your Login information</h5>
<pre>
<font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<form method="post" action="/login">
     Email   <input type="email" name="email"><br>
  Password   <input type="password" name="password"><br>
                   <input class="btn btn-success" type="submit" value="Login" > | <a href='/reset'>Forgot password</a>
</form>

<p> Don't have a account? <button class="btn btn-info btn-sm" onclick="window.location.href='/signup'">Join now</button></p></pre>
</div>
