<h5><a href='/'>Home </a> / Password Reset</h5>
<h4>Password Reset</h4>
<div align="center">
<h4>Welcome to Reset Page of Author Membership</h4>
<h5>Please enter your Reset information</h5>
<pre>
<font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<form method="post" action='/reset'>
  Mother's Maiden Name <input type="text" name="moms_maiden_name"><br>
                 Email <input type="text" name="email"><br>
              Password <input type="password" name="password"><br>
 Password Confirmation <input type="password" name="password_confirmation"><br>
         <input class="btn btn-success" type="submit" value="Reset" > | <a href='/login'>Login</a>
</form> </pre>
</div>
