<h3>Home / Login</h3>
<h1>Login</h1>
<div align="center">
<pre>
  <font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<form method="post" action="/login">
     Email   <input type="text" name="email"><br>
  Password   <input type="password" name="password"><br>

  <input type="submit" value="Login" > | <a href='/reset'>Forgot password</a>
</form>

<div> Don't have a account? <button onclick="window.location.href='/signup'">Join now</button></div></pre>
