<h3>Home / Login</h3>
<h1>Login</h1>
<div align="center">
<pre>
<form method="post" action="/login">
     Email   <input type="text" name="email"><br>
  Password   <input type="text" name="password"><br>

  <input class="btn btn-primary" type="submit" value="Login" > | <a href="">Forgot password</a>
</form>

<div> Don't have a account? <button onclick="window.location.href='/signup'">Join now</button></div></pre>
