<title>Signup</title>
<div align="center"><br>
<h3>Welcome to Signup Page for Author Membership</h3>
<font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<h4>Please enter your login information:</h4>

<pre>
<form action="/signup" method="POST">
       Name:  <input type="text" name="name"><br>
       Email:  <input type="email" name="email"><br>
    Password:  <input type="password" name="password"><br>
  <input type="submit"  value="Submit" > | <a href='/login'>Login</a>
</form></pre>
</div>
