<h3>Home / Password Reset</h3>
<h1>Password Reset</h1>
<div align="center">
<pre>
<font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<form method="post" action='/reset'>
     Email   <input type="text" name="email"><br>
  Password   <input type="password" name="password"><br>

  <input type="submit" value="Reset" > | <a href='/login'>Login</a>
</form> </pre>
