
  <h3>Authors registered on Author Membership Site</h3>

  <% User.all.each do |user| %>
    <b> Books By "<%=user.name%>" </b></br>
      <% user.books.each do |book| %>
        <%= book.name %>
        <ul>
          <%book.categories.each do |category|%>
          <li><%=category.name%></li>
        <%end%>
        </ul>
      <% end %>
  <% end %>
