<h3>Following are the Authors registered on Author Membership Site:</h3>

  <% Author.all.each do |author| %>
    <b> Books By "<%=author.name%>" </b><br>
      <% author.books.each do |book| %>
        <%= book.name %>
        <ul>
          <%book.categories.each do |category|%>
          <li><%=category.name%></li>
        <%end%>
      </ul>
      <% end %>
  <% end %>
