<h4>Edit <%<%= @book.name %></h4>

<form action="/book/<%=@book.name.slug %>" method="POST">
  <label> Book Name </label>
  <input type="text" name="name" value="<%=@book.name %>"> </br>

  <input type="submit" value="Update">
</form>
