<form action="/books" method="POST">

  <label> Author Name: <%=current_user.name%> </label>
  <input type="text" hidden=true id="user_name" name="book[author_id]" value="<%=current_user.id %>" readonly = true</input><br><br>

  <label>Book Name  </label>
  <input type="text" id="book_name" name="book[name]"><br><br>

  <label>Category: </label> <br>
    <% Category.all.each do |category| %>
      <label><%= category.name %></label>
      <input type="checkbox" id="category_id" name="book[category_ids][]" value="<%= category.id %>">
    <% end %> <br><br>

 <label>Add New Category</label>
  <input type="text" id="new_category" name="category[name]"> <br> <br>
  <input type="submit" value="Add New Book">
</form>
