<DOCTYPE! html>
<head>

</head>

<body>
  <h4>Welcome to Authors Registration Site</h4>
  <h5>Following are the authors and their books who are registered on Author Membership Site:</h5>

  <% Author.all.each do |author| %>
    <b> Books By "<%=author.name%>" </b></br>
      <% author.books.each do |book| %>
        <%= book.name %>
        <ul>
          <%book.categories.each do |category|%>
          <li><%=category.name%></li>
        <%end%>
        </ul>
      <% end %>
  <% end %>


</body>

</html>
